<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.synconset.cordovaHTTP"
  xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://www.phonegap.com/ns/plugins/1.0"
  version="0.2.0" >

  <!--
  Versions:
  0.1.6 - Initial fork from https://github.com/wymsee/cordova-HTTP
  0.2.0 - Removed File stuff and Android. Added Cookie and JSON parsing support.
  -->

  <name>Cordova HTTP</name>

  <description>
    Cordova / Phonegap plugin for communicating with HTTP servers with SSL Pinning and Proper HTTP 401 handling
  </description>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- <dependency id="org.apache.cordova.file" url="https://github.com/apache/cordova-plugin-file" commit="r0.2.5" /> -->

    <js-module name="CordovaHttpPlugin" src="www/cordovaHTTP.js">
      <clobbers target="plugins.CordovaHttpPlugin"/>
    </js-module>

    <!-- ios -->
    <platform name="ios">
      <config-file parent="/*" target="config.xml">
        <feature name="CordovaHttpPlugin">
          <param name="ios-package" value="CordovaHttpPlugin"/>
        </feature>
      </config-file>

      <header-file src="src/ios/CordovaHttpPlugin.h"/>
      <source-file src="src/ios/CordovaHttpPlugin.m"/>

      <header-file src="src/ios/HTTPManager.h"/>
      <source-file src="src/ios/HTTPManager.m"/>

      <header-file src="src/ios/TextResponseSerializer.h"/>
      <source-file src="src/ios/TextResponseSerializer.m"/>

      <dependency id="com.telerik.afnetworking"/>

      <framework src="SystemConfiguration.framework"/>
      <framework src="Security.framework"/>
      <framework src="SystemConfiguration.framework"/>
    </platform>

    <!--android -->
    <!-- <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
        <feature name="CordovaHttpPlugin">
          <param name="android-package" value="com.synconset.CordovaHttpPlugin"/>
        </feature>
      </config-file>

      <config-file parent="/manifest" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.INTERNET"/>
      </config-file>

      <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttp.java" target-dir="src/com/synconset"/>
      <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttpGet.java" target-dir="src/com/synconset"/>
      <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttpPost.java" target-dir="src/com/synconset"/>
      <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttpPostJson.java" target-dir="src/com/synconset"/>
      <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttpUpload.java" target-dir="src/com/synconset"/>
      <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttpDownload.java" target-dir="src/com/synconset"/>
      <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttpPlugin.java" target-dir="src/com/synconset"/>
      <source-file src="src/android/com/synconset/CordovaHTTP/HttpRequest.java" target-dir="src/com/github/kevinsawicki/http"/>
    </platform> -->
  </plugin>
